:root {
    /* --pink-bright : #fda2eed7;
    --green-bright: #82ffb6; */
    --backgound-light: rgb(242, 241, 230); 
    --footer-dark: rgb(50, 47, 47);
}
/* *{
    border: 1px solid black;
} */

/* Serif fonts
font-family: 'Abril Fatface', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Elsie Swash Caps', serif; */

/* utility classes */
.center {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: black; 
    text-decoration: none;
}

body {
    background-color:--backgound-light;
    background-repeat: none;
    height: 100vh;
    max-width: 100vw;
    font-family: 'DM Serif Display', serif;
}


/* All pages  */
h1 {
    font-family: 'Elsie Swash Caps', serif;
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}


/* 
.bookshelf {
    max-width: 100vw; 
  }
  
.bookshelf img {
    max-width: 100%; 
    height: auto;    
    display: block;  
    margin: 0 auto;  
  }
   */
footer {
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--footer-dark);
    height: 3rem;
    color: var(--backgound-light);
}

/* Search results */

/* big container to fix all the results  */
#result-div{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    
}

/* layout inside of each research item, including   */
.search-result {
    display: grid; 
    grid-template-columns: 1fr 3fr;
    gap: 1rem 
    /* background-image: url('./images/book-green.png'); */
    /* background-size: cover; */
}

.grid-reverse:first-child {
    grid-column: 2;
    grid-row: 1; 
    /* Place the first child in the second row */
}

.grid-reverse:last-child {
    grid-column: 1;
    grid-row: 1;
    /* Place the first child in the second row */
}


/* Setup the width and height of image  */
/* container of cover image  */
.cover-div {
    justify-self: center;
    align-self: center; 
}

/* image inside of cover div  */
.cover-div img {
    justify-self: center;
    align-self: center; 
    max-height: 180px; 
}


/* Bestsellers styles */

#bestsellers-list {
    display: grid;
    width: 48rem; 
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.category-links {
    border: 1px solid black;
    width: 12rem;
    height: 12rem;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center; 
    justify-content: center; 
    justify-self: center;
    align-self: center;
    
}
/* 
.category-top-5 {

}

.bookImage-bestseller{
    
} */

/* 
.result-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 1fr 1fr;
    
} */
/* 
.search-result {
    width : 14rem;
    height: 16rem;
    background-image: url('./images/book-green.png');
    background-size: cover;
    padding-top: 4rem;
    padding-right: 5rem;
    padding-left:3.2rem;
    padding-bottom:4.4rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
} */




/* Media queries */

/* Smallest screen */
@media (max-width:375px) {
    .result-container{
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }
    /* .search-result {
        width : 10.1rem;
        height: 14.2rem;
        padding-top: 2.3rem;
        font-size: 0.95rem;
    } */

    body {
        height: 420vh;
        
    }
}

/* small screen */
@media (min-width:376px) and (max-width:720px) {
    .result-container{
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    }
    /* .search-result {
        width : 15rem;
        height: 17rem;
    } */
    body {
        height: 400vh;
        
    }
}


/* mid-size to large */
@media (min-width:721px) and (max-width:1000px){
    body {
        height: 150vh;
        
    }
} 